<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IsDebug" value="false" />
    <add key="RouterIp" value="192.168.1.1" />
    <add key="RouterLogin" value="root" />
    <add key="RouterPassword" value="password" />
    <add key="CheckingIntervalInMinutes" value="10" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>